<!Doctype html>
<html lang="en-US">
    <head> 
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Welcome to Hotline </h1>
        <p>Center: <%= data.center_name %> </p>
        <p>Project: <%= data.p_name %> </p>
        <p>SEASON: <%= data.p_season %> </p>
        <p>PRODUCTION POSITION: <%= data.position_production %> </p>
    </body>
</html>